<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.KechenMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Kechen" >
    <id column="keid" property="keid" jdbcType="INTEGER" />
    <result column="kename" property="kename" jdbcType="VARCHAR" />
    <result column="zhuanid" property="zhuanid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    keid, kename, zhuanid
  </sql>
  
  <select id="selectKe" resultMap="BaseResultMap">
  	SELECT keid,kename FROM kechen INNER JOIN student ON student.`zhuanid` = kechen.`zhuanid` WHERE student.`id` = #{id}
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.KechenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kechen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kechen
    where keid = #{keid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kechen
    where keid = #{keid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.KechenExample" >
    delete from kechen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Kechen" >
    insert into kechen (keid, kename, zhuanid
      )
    values (#{keid,jdbcType=INTEGER}, #{kename,jdbcType=VARCHAR}, #{zhuanid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Kechen" >
    insert into kechen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keid != null" >
        keid,
      </if>
      <if test="kename != null" >
        kename,
      </if>
      <if test="zhuanid != null" >
        zhuanid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keid != null" >
        #{keid,jdbcType=INTEGER},
      </if>
      <if test="kename != null" >
        #{kename,jdbcType=VARCHAR},
      </if>
      <if test="zhuanid != null" >
        #{zhuanid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.KechenExample" resultType="java.lang.Integer" >
    select count(*) from kechen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kechen
    <set >
      <if test="record.keid != null" >
        keid = #{record.keid,jdbcType=INTEGER},
      </if>
      <if test="record.kename != null" >
        kename = #{record.kename,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuanid != null" >
        zhuanid = #{record.zhuanid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kechen
    set keid = #{record.keid,jdbcType=INTEGER},
      kename = #{record.kename,jdbcType=VARCHAR},
      zhuanid = #{record.zhuanid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Kechen" >
    update kechen
    <set >
      <if test="kename != null" >
        kename = #{kename,jdbcType=VARCHAR},
      </if>
      <if test="zhuanid != null" >
        zhuanid = #{zhuanid,jdbcType=INTEGER},
      </if>
    </set>
    where keid = #{keid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Kechen" >
    update kechen
    set kename = #{kename,jdbcType=VARCHAR},
      zhuanid = #{zhuanid,jdbcType=INTEGER}
    where keid = #{keid,jdbcType=INTEGER}
  </update>
</mapper>